body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #33ff99;
}

header p {
    font-size: 1.2em;
}

#ticker-data {
    margin: 20px 0;
}

.ticker-item {
    background: #2b2b2b;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ticker-item h2 {
    margin: 0 0 10px;
}